{% extends 'base.html' %}

{% block content %}
    <section>
    <div class="section-container">

        <h1>Statement</h1>
        <h3>作品テーマについて</h3>
        <p>オリジナルストーリーを題材にすることもあれば、歴史的資料・人物をモチーフにすることもあるが、作品制作の根幹には<b>「物語を届けることで世界を明るくする」</b>という大テーマが存在している。</p>
        <p>心をテーマにしたオリジナルの童話作品と切り絵を組み合わせた「切絵童話」を紡ぎ、読み手が前向きに生きる希望を抱けるような作品を作りたいと考えている。<br>また、歴史資料の持つストーリーや偉人の逸話などを、AR技術を用いて楽しみながら分かりやすく学べる作品を通して、知的好奇心を満たす喜びや楽しさを伝えることを目指している。</p>
        <h3>表現技法について</h3>
        <p>色を塗り重ねていく絵画と異なり、切り絵は一枚の紙から切り抜いていく引き算の表現を用いることで、
        雑多な世界の中から、一つの物語を切り出すことを試みている。</p>
        <p>切絵童話の表現には、一枚絵としてのモノクロ／カラー切り絵だけでなく、絵本、動画、詩画や立体作品などの幅広い手法を用いている。<br>
        それは、<b>「物語を現実に拡張する」</b>というところに強い関心があるからである。<br><br>

        物語の世界を、実際に目で見て触れて楽しめるようにする。<br>
        物語を身近に、リアルなものとして感じられるようにする。<br>
        鑑賞者が、物語の世界に干渉しているかのような錯覚を与える。<br>
        そんな作品を作りたい。<br><br>

        そのため、ARなどのテクノロジーを用いることで、よりリアルに空想世界を現実化するべく試行錯誤を重ねている。</p>
</div>
</section>
{% endblock %}
